# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# ---- Node / Next.js ----
node_modules/
.next/
out/
dist/
build/
.npm/
.yarn/
.pnp/
.pnp.js

# ---- Logs ----
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
backend-debug.log*

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- IDE configs ----
.vscode/
.idea/
*.swp

# ---- Firebase / Google configs ----
.firebase/
.firebaserc

# ---- Project specific ----
Frontend/.env.local
Frontend/.idx
Frontend/.modified
Backend/__pycache__/
Backend/venv/
Backend/.env
docs/
